<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to this practice</title>
  </head>
  <body>
    <h1>You are in host: <strong>{{ mess }}</strong></h1>
    <h2>Usage:</h2>
    <p>You need to use like this: <a href="http://localhost/operation/sum/26/30/" target="_blank">http://localhost/operation/sum/26/30/</a></p>
    <p>
    The valid operations are:
       <ul>
           <li>sum</li>
           <li>rest</li>
           <li>division</li>
           <li>multiply</li>
       </ul> 
    </p>
    <p>The first number correspond to the first line inside the file and the second number  correspond to the second line inside the file</p>
  </body>
</html>